<div id="<%= dom_id square %>">
  <p>
    <strong>Game:</strong>
    <%= square.game_id %>
  </p>

  <p>
    <strong>X:</strong>
    <%= square.x %>
  </p>

  <p>
    <strong>Y:</strong>
    <%= square.y %>
  </p>

</div>
