<%= turbo_stream.append(:scores) do %>
  <div class="grid grid-cols-4 text-center bg-white border border-gray-300 even:bg-gray-300 last:rounded-b-md">
    <%= render @score %>
  </div>
<% end %>

<%= turbo_stream.update(:score_form) do %>
  <%= render "nav" %>
<% end %>
