<%= form_with model: @form, url: find_games_path, method: :post do |f| %>
    <% if @form.errors.any? %>
      <div id="text-red-500 ">
        <% @form.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      </div>
    <% end %>
  <%= f.text_field :share_code %>
  <%= f.submit "Find Game", class: "rounded-md bg-blue-500 text-white px-4 py-2" %>
<% end %>
